<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://kit.fontawesome.com/affbc97ebf.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/affbc97ebf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/homePage.css">
    <link rel="stylesheet" href="css/detail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>FluffyPaw</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand ms-5 icont" href="#"><i class="fa-solid fa-paw"></i>Fluffy<span
                    class="paw">Paw</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto me-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop">SHOP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sell">SELL YOUR DOG!</a>
                    </li>
                </ul>
                <% if(Session){%>
                <ul class="navbar-nav  me-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page">
                            <%= Fullname.Firstname%>
                                <%= Fullname.Lastname%>
                        </a>
                    </li>
                </ul>
                <div class="dropdown">
                    <i class="fa-solid fa-user dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false"></i>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                        <li><a class="dropdown-item" href="/mydog">My Dog</a></li>
                        <li><a class="dropdown-item" href="/logout">Log out</a></li>
                    </ul>
                    <a href="/cart"><i class="fa-solid fa-cart-shopping relativecart">
                            <p class="absolutenum">
                                <%=CartNum %>
                            </p>
                        </i></a>
                </div>
                <% }else {%>
                    <ul class="navbar-nav  me-2 mb-lg-0">
                        <li class="nav-item">
                            <form action="/login" method="get">
                                <input type="submit" class="btn btn-secondary" value="Sign In">
                            </form>
                        </li>
                    </ul>
                <% } %>
                <form class="d-flex me-5" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <a class="sIcon" href="#"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></a>

                </form>
            </div>
        </div>
    </nav>

    <form action="/sell" enctype="multipart/form-data" method="post">
        <div class="container-fluid dt d-flex">
            <img class="exphoto" src="https://fluffy-bucket-333.s3.amazonaws.com/<%=Doglist[0].idDog %>_<%=Doglist[0].SellerID %>" alt="exphoto">
            <div class="part">
                <p id="ch-dog"><%=Doglist[0].Topic %></p>
                <p id="ch-price">฿ <%=Doglist[0].Price %></p>
                <button class="ph-de btn btn-warning"><i class="fa fa-phone"
                        style="font-size:24px"></i>&nbsp&nbspโทร&nbsp<%=Doglist[0].Phonenum %></button>
                <div class="text-spiecs">
                    <p id="ch-detail">สายพันธุ์</p>
                    <p class="border-bottom sp-line" id="spiecs"><%=Doglist[0].Breed %></p>

                    <p id="ch-detail">รายละเอียดสินค้า</p>
                    <p class="border-bottom  ip-ch-detail"><%=Doglist[0].Detail %></p>
                </div>
                <a href="/addcart?dogid=<%=Doglist[0].idDog%>" class="btn btn-danger">Add to cart</a>
                <div>
                    <p class="warn-text"><i class='warn-i-color fas fa-exclamation-triangle' style='font-size:36px'></i>
                        กรุณาอย่าโอนเงินให้ผู้ขายด้วยตนเองไม่ว่ากรณีใดๆ
                        หากต้องการโอนเงินกรุณากดซื้อผ่านหน้าเว็บไซต์</p>
                </div>
            </div>
           
 
        </div>
        <div class="container-fluid predict">
            <div class=><p class="spc-text"><i class='fas fa-dog' style='font-size:24px; color:rgb(255, 136, 0)'></i> สุนัขตัวนี้มีความน่าจะเป็นว่าเป็นสายพันธุ์: <%=Breed %>  </p></div>
            <div><p class="text-model"><i class="fa-solid fa-robot" style="font-size:24px; color: rgb(255, 136, 0)"></i> เป็นเพียงการคาดการณ์จากโมเดล ที่มีความแม่นยำ 80%</p></div>
        </div>
        
    </form>
</body>

</html>